/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #F6F6F6;
  /* background-image: linear-gradient(#F5F5F5, #57C785); */
  color: #000;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 25px 25px 25px 25px;
  transition: all 0.3s;
}

@media (max-width: 1300px) {
  #main {
    padding: 25px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-image: linear-gradient(#16F070, #57C785);
  padding-left: 20px;  
}

.header-right {
  list-style: none;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;  
  color: #000;
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  transition: all 0.5s;
  z-index: 997;
  height: 40px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: crimson;
  color: #FFF;
  padding-left: 20px;
}

.footer .span {
  text-align: left;
  color: #000;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.card {
  margin-top: 10px;
  margin-left: 10px;
  /* padding: 25px 25px 25px 25px;
  transition: all 0.3s;
  border: 2px;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(255, 0, 0, 0.1); */
  width: 600px;                /* Lebar kotak */
  padding: 10px 0 0 10px;               /* Jarak konten ke border */
  border: 2px solid #333;      /* Garis kotak: tebal, gaya, warna */
  background-color: #f4f4f4;   /* Warna latar belakang */
  color: #333;                 /* Warna teks */
  font-family: Arial, sans-serif;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
table, td, th {
  border: 2px solid;
  padding: 3px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-image: linear-gradient(#16F070, #57C785);
  color: black;
}